---
layout: archive
author_profile: true
---

{% include base_path %}
<div style="height: 251px;background-size: contain;margin: 10px auto 0 auto;width: 940px;padding: 0;background: transparent url(http://www.cpaesmite.com/templates/siteground-j15-63/images/header_bg.jpg) top center no-repeat;"></div>
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
